body {
    background-color: #252A34 !important;
    color:#EAEAEA ;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100vh;
    margin-bottom: 60px;
    overflow: auto;
  }
  .page-name {
    text-align: center;
    font-family: "Gruppo", serif;
    font-size: x-large;
    margin-top: 25px;
    letter-spacing: 0.1em;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .product-card {
    position: relative;
    overflow: hidden;
    display: block;
    transition: all 0.3s;
    outline: none;
    border-radius: 19px;
    box-shadow: 0px 0px 5px #EAEAEA;
  }
  .black-color{
    color:black !important;
  }
  .product-card .product-title {
    font-family: "Cabin Sketch" !important;
    font-weight: normal;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.3) !important;
    width: 100%;
    margin-top: -15px;
    text-align: center;
    color:#EAEAEA !important;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
  }
  .res-container {
    padding-bottom: 15px;
  }
  .res-container img{
    width: 100%;
    height: auto;
  } 
  .cat-bottom {
    background: linear-gradient(to bottom, transparent 0%, #d80c3fa4 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;

    font-family: "segoeui";
  }
  .footer-links {
    color: #FF2E63;
    z-index: 10000;
    margin-right: 5px;
    opacity: 0.8;
    background-color: transparent !important;
    border-radius: 0px;
    padding: 23px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -10px;
    position: relative;
  }
  .red-color{
    color: #EAEAEA !important;
  }
  .cat-bottom .footer-links li {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-links li {
    padding: 0 10px;
  }
  .logo {
    margin-top: 10px;
    height: 75px;
    width: 150px;
  }
  .restaurantVideo {
    height: 100vh;
    border-radius: 0px;
    width: auto;
    position: relative;
    border-radius: 0px;
    min-width: "360px";
    z-index: 1;
  }
  
  .down-buttons {
    position: fixed;
    left: 0;
    bottom: 95px;
    width: 100%;
    z-index: 10;
    padding-right: 5px;
  }
  
  .down-buttons ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  
  .down-buttons ul img {
  
    height: auto !important;
    min-width: 40px !important;
    opacity: 1 !important;
    position: relative;
    z-index: 1000;
  }
  
  .resmodal {
    position: fixed;
    top: 0;
    left: 50%;
    width: 200px;
    height: 200px;
    background: rgb(248, 248, 248);
  }
  
  .modal-main {
    z-index: 100000;
    position: fixed;
    color:#112a46;
    background: rgba(235, 94, 40, 0.823);
    width: 80%;
    max-width: 900px;
    height: auto;
    top: 35%;
    left: 48%;
    margin-right: 50px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    margin-left: 250px;
    max-height: 68%;
    overflow-y: auto;
  }
  .modal-main-small{
    z-index: 100000;
    position: fixed;
    color:#112a46;
    background: rgba(235, 94, 40, 0.823);
    width: 100%;
    height:80%;
    margin: auto;
    border-radius: 15px;
  }
  .restaurant-info-modal{
    min-height: 225px;
  }
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  .overlay{
    z-index: -1;
    position: relative;
  }
  
  //  ä################################
  #carouselExampleIndicators {
    text-align: center;
  }
  
  #carouselExampleIndicators h2 {
    font-family: "SimSun-ExtB";
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color:#fffcf2;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  #carouselExampleIndicators1 p {
    text-align: center;
    color:#fffcf2;
  }
  
  .carousel-indicators1,
  .carousel-indicators {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
  }
  
  
  .carousel-indicators1 {
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 10px;
  }
  .carousel-indicators1,
  .carousel-indicators {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
  }
  
  .carousel-indicators1 li,
  .carousel-indicators li {
    width: auto;
    height: auto;
    text-indent: inherit;
    background-color: transparent !important;
    opacity: 1 !important;
    font-size: 30px;
    margin: 0;
    border: none;
  }
  
  .carousel-indicators1 {
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
    padding: 0 10px;
  }
  
  .close-btn{
    position: absolute;
    top: 18%;
    right: 10%;
    max-width: 15px;
    z-index: 1000000;
  }
  
  .restaurant-modal-info-btn{
    height: 50px; width: auto;
  }
  
  .carousel-indicators1 {list-style: none;}
  .down-buttons ul{list-style: none;}
  .carouselExampleIndicators1 p{
    font-size: 16px;
  }
  
  .scroll{overflow-y:scroll;
  margin-top: 10px;
  max-height: 250px;}
  
  .product-commets-text{
    border: 1px solid #e9c46a;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    position: relative;
    margin-bottom: 15px;
    color: #FFFFFF;
  }
  setMarginBottom{
    margin-bottom: 0px !important;
  }
 
  .product-commets-text .text-box {
    flex: 1;
    width: 100%;
    padding-left: 30px;
    color: #FFFFFF;
  }
  
  .product-commets-text .text-box p {
    margin: 0;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Simonetta', cursive;
    word-break: break-all;
  }
  
  .card{
    background-color: transparent !important;
  }
  
  .btn{
    background-color: #e9c46a;
  border-color: #e9c46a;
  }
  
  .header{
    cursor: pointer;
    font-family: verdana;
    font-size: 25px;
    border-radius: 3px;
    background: #ffffffdb;
    color: #FF2E63;
    text-align: center;
    width: 100%;
    font-family: 'Quicksand' !important;
    font-weight: bold;
    margin-bottom: 10px;
    }
    
  .point{
    width: 6px;
  height: 6px;
  
  position: relative;
  top: 5px;
  left: 11px;
  }
  
  .content{
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    font-family: verdana;
    font-size: 14px;
    // margin-bottom: 10px;
    }
  
  .product-menu-card{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    color:white;
  }
  
  .product-menu-card p{
    font-family: 'Quicksand';
    font-size: 1rem;
    font-weight: 400;
    color:white;
    margin:0px;
  }
  .product-menu-card h1{
    font-family: 'Quicksand';
    color:#08D9D6;
  }
  .product-menu-card hr{
    font-family: 'Quicksand';
    color:white;
  }
  
  .menu-überschrift{
    font-family: 'Quicksand';
    font-size: 1.5rem;
    text-align: center;
    color:white;
    font-weight: bolder;
  }
  
  .category-überschrift{
    font-weight: bold;
  font-family: 'Quicksand', serif;
  color:white !important;
  font-size: 1.5rem;
  }
  
  .form-group{color:white;

  }
  .form-control{
    box-shadow: 0px 0px 5px #FF2E63;
  }
  
  .mychoise-element {
    border-radius: 20px;
    height: 20vh;
    padding: 2px 5px;
    margin-left: 15px;
    margin-right: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    color: #fff;
    font-size: 13px;
    position: relative;
  }
  .mychoise-element h1 {
    align-self: center;
    margin-bottom: auto;
    margin-top: 30px;
    text-align: center;
    font-family: 'Cabin Sketch' !important;
  }

  .restaurant-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width:100%;
    
  }
  .restaurant-video{
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
    object-fit:cover;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .restaurant-video-margin{
    margin-left: 0px;
  }
  .restaurant-modal-padding{
    padding: 2%;
    overflow-y: auto;
    max-height: 100vh;
    margin-bottom: 40px;
 
  }
  @media only screen and (max-width: 985px) {
    .restaurant-modal-padding{
      padding: 5%;
    }
    .restaurant-video{
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  }
  .restaurant-modal{
    margin-bottom: 20px;
    // background-color: rgba(234, 234, 234, 0.33);
    
    background-color: #d80c3fa4;
    padding: 20px;
    border-radius: 19px;
    box-shadow: 0px 0px 5px #EAEAEA;
  }
  .liWidth{
    width: 40px;
      margin: 10px;
  }

  .carousel-indicators1{
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .carousel-indicators {
    flex-wrap: wrap;
}

.restaurant-buttons{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:30px ;
}
.restaurant-buttons li{
  margin-left: 20px;
  margin-right: 20px;
}
.buttons-color{
  background-color: #FF2E63;
  border-radius: 50%;
}

.restaurant-name{
  max-height: 15%;
  font-family: 'Cabin Sketch' !important;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
  -webkit-backdrop-filter: blur(150px);
  backdrop-filter: blur(150px);
  letter-spacing: 0.50em;
  margin-top: 25px;
  padding: 10px;
}

.restaurant-img{
  overflow: hidden;
  border-radius: 3px;
  width: auto;
  height: 100vh;
}

.restaurant-logo{
  
  border-style: none;
  margin-top: 25px;
  height: 150px;
  width: 300px;
}

.comments-modal{
  overflow-y: auto;
  max-height: 400px;
  padding: 1%;
}
.comment-box{
  border: 1px solid #d80c3fa4;
  box-shadow: 0px 0px 5px #d80c3fa4;
  background-color: #EAEAEA;
  color:#252A34;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  position: relative;
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.comment-image-holder{
  margin-right: 5px;
  border-right: 2px solid #d80c3fa4;
  padding-right: 2px;
  min-width: 110px;
}

.comment-image-holder img{
  box-shadow: 0px 0px 5px #EAEAEA;
  position: relative;
  // top: 10px;
  width: 60px;
  border-radius: 40%;
  
}
.comment-image-holder p{
  margin-bottom: 0px;
  
}

.header-icons{
  width: 50px; 
  color: white;
  height: 40px;
}


.card {
  box-shadow: 0px 0px 5px #d80c3fa4;
  border-radius: 15px;
}

.header-button{
  background-color: transparent;
  border: transparent;
}
.btn{
  background-color: #08D9D6;
  border: none;
}

.menu-padding{
  padding:1%;
  margin-bottom: 65px;
}